{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<section class="container-fluid text-center my-3 col-lg-4 col-md-6 col-sm-8">
        <h1 class="container-fluid">Reinitialisation du mot de passe</h1>
    <div class="container-fluid">
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <medium>
                    Saisissez votre adresse email pour recevoir un lien de réinitialisation de mot de passe.
                </medium>
            </div>

            <button class="btn btn-dark my-3">Envoyer le mail</button>
        {{ form_end(requestForm) }}
    </div>
</section>
{% endblock %}
