{% extends 'base.html.twig' %}

{% block title %}Demande!{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


</section>

{% endblock %}

{% block javascripts %}
<script>
$("#demande_sousCategorie").html('<option></option>');
$("#demande_categorie").on("change", function(){
    let categorieId = $(this).val();
    $.ajax({
        url: '/get-sous-categorie-by-categorie-id',
        type: 'POST',
        data: "catId=" + categorieId,
    }).done(function(data){
        $("#demande_sousCategorie").html(data);
    });
});
</script>
{% endblock %}