{% extends 'base.html.twig' %}

{% block title %}Demande!{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-3">
{% if is_granted('ROLE_USER') %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% else %}
<div class="text-center">
    <h1>Inscris-toi pour publier une demande</h1>
    <a href="{{ path('app_register') }}"><i class="text-dark h1 mt-3" data-feather="user-plus"></i></a>
</div>
{% endif %}
    </div>
</div>


</section>

{% endblock %}

{% block javascripts %}
<script>
$("#demande_sousCategorie").html('<option></option>');
$("#demande_categorie").on("change", function(){
    let categorieId = $(this).val();
    $.ajax({
        url: '/get-sous-categorie-by-categorie-id',
        type: 'POST',
        data: "catId=" + categorieId,
    }).done(function(data){
        $("#demande_sousCategorie").html(data);
    });
});
</script>
{% endblock %}