{% extends 'base.html.twig' %}

{% block title %}Nouvelle Demande{% endblock %}

{% block body %}
    <h1>Nouvelle demande</h1>

    {{ include('demande/_form.html.twig') }}

    <a href="{{ path('app_user') }}">Mon espace</a>
{% endblock %}
