{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <h1>Les Locations</h1>

   {% for location in locations %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ location.nom }}</h5>
                <p class="card-text">{{ location.description }}</p>
                <a href="{{ path('app_location_show', {'id': location.id}) }}" class="card-link">Voir la location</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
