{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}

<h1 class="ms-2"> Modification du Profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>

{{ form(form)}}

<div>





</div>




{% endblock %}
